<!-- Name of restaurant-->
<!DOCTYPE html>
<h1><%=@restaurant.name%></h1>
<%=@restaurant.address%>
<br/>
<%=@restaurant.phone_number%>
<br/>
<a href="<%=@restaurant.url%>"><%=@restaurant.url%></a>
<h3>features</h3>
<% @restaurant.features.each do |feature|%>
  <%= feature.name%><br/>
  <%end%>
